@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.4rem "Mountains of Christmas", cursive;
  /* change the image revealed by the calendar below */
  background: url(https://lh3.googleusercontent.com/hgW33cgzHFCucoktlf_lEQNy7eMtzR1Vpy6AaL-TC_zWVaI5WsoM2PytpFT1MnPjv0azurI_w8KJ7J7Lkvlosk6nN-4CAwjjAtREihSXuzmXrAk4W1ZgjGc6Vq4a1fMMfPJyx0DwMwbgtWi6prFMO6_GlLEUy3LE9EXpxdq58v8hu6KEnE4nHTyGHGbaScCNp2JZ4HriLl3p3-wiWgBO25jjMmEhLfmN-vTFo_BwZP33x8OpudgOrWgD9enLGYLxcVajfpWyibDCjv65CKfWIRLHkICTOMa5Ra57s2Bd1M__0tFKypnjeGKNSWbNE9649yuKsOuWdvkevvUG1-fcGrB0XvOAcFQvG6eyg1_JAsHAsBnRCaDFG-H6eqOmBbQsFP6mYyka5nEm4jk2RFLb-sNQzh6IvWQprk7fZPXtL2xi_EnvnkyEQMM4Yi543hJm2hzLqO1upzITEvp0TnAvx66e092K8r6ieQm15c8ymrqKeDJTRkJoWTAyPwMipYCwtKG5VGCkLwaWkNjj6NEin65arL42VTYN162QmKZzNurVShsUX9dSsZ0hwSo63GbnWz5ld_Nno8hv0JGN2si_D2DO9_tIe2korUv-jh2Qu2udYOAiMIAwbk6yULb-w8xn6gOdXl_gRIxZUieF8uVrzV4oYhpx5AUNAMk=w1366-h768-no) center;
  background-size: cover;
}

section {
  height: 100vh;
  width: 100vw;
}

/* calendar */
.items {
  float: left;
  width: 33.33%;
  height: 12.5%;
  border: solid 0.5px;
  padding: 5px;
  text-align: right;
  color: #333;
  background: white;
  transition: opacity 2s ease;
}

@media only screen and (min-width: 768px) {
  .items {
    width: 25%;
    height: 16.66%;
  }
}
@media only screen and (min-width: 1024px) {
  .items {
    width: 16.66%;
    height: 25%;
  }
}
/* for browsers understanding grids */
@supports (display: grid) {
  .calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .items {
    width: auto;
    height: auto;
  }

  @media only screen and (min-width: 768px) {
    .calendar {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
    }
  }
  @media only screen and (min-width: 1024px) {
    .calendar {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
/* modal window */
.modal {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://www.hdwallpapers.in/walls/christmas_tree_bokeh-wide.jpg) center;
  background-size: cover;
}
.modal div {
  display: inline;
  background: rgba(255, 255, 255, 0.9);
  margin: auto 20px;
  padding: 20px 40px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
}
.modal div:hover {
  background: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
