* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
}

header h1 {
  font-weight: normal;
  letter-spacing: 0.2em;
  color: #25689D;
  margin-top: 20px;
  padding: 10px 20px;
  color: #FFD54D;
  background: #000;
  border: double 6px #25689D;
}

section {
  width: 420px;
  height: 420px;
  background: #000;
  margin: 20px auto;
  position: relative;
  border: double 10px #25689D;
}

.pacman {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 50px;
  background: #FFD54D;
  border-radius: 50px 0 0 50px;
  -webkit-animation: pac-move 12s infinite linear, pac-rotate 12s infinite steps(1);
          animation: pac-move 12s infinite linear, pac-rotate 12s infinite steps(1);
}

@-webkit-keyframes pac-move {
  25% { 
    top: 10px; 
    left: 350px;
  }
  50% { 
    top: 340px; 
    left: 350px;
  }
  75% { 
    top: 340px; 
    left: 20px;
  }
  100% { 
    top: 10px; 
    left: 20px;
  }
}

@keyframes pac-move {
  25% { 
    top: 10px; 
    left: 350px;
  }
  50% { 
    top: 340px; 
    left: 350px;
  }
  75% { 
    top: 340px; 
    left: 20px;
  }
  100% { 
    top: 10px; 
    left: 20px;
  }
}

@-webkit-keyframes pac-rotate {
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pac-rotate {
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* eat-up */
.pacman::before {
  content: "";
  border-radius: 0 50px 0 0;
  background: #FFD54D;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 25px;
          transform-origin: 0 25px;
  -webkit-animation: pac-eat-up 0.5s infinite;
          animation: pac-eat-up 0.5s infinite;
}

@-webkit-keyframes pac-eat-up {
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@keyframes pac-eat-up {
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

/* eat-down */
.pacman::after {
  content: "";
  border-radius: 0 0 50px 0;
  background: #FFD54D;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: pac-eat-down 0.5s infinite;
          animation: pac-eat-down 0.5s infinite;
}

@-webkit-keyframes pac-eat-down {
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

@keyframes pac-eat-down {
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

.dot {
  background: white;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-animation: dot 12s infinite steps(1);
          animation: dot 12s infinite steps(1);
/*   animation-fill-mode: forwards; */
}

@-webkit-keyframes dot {
  0% {background: transparent;}
  50% {background: white;}
}

@keyframes dot {
  0% {background: transparent;}
  50% {background: white;}
}
 
/* top */
.dot:nth-child(1) {
  top: 30px;
  left: 30px;
  -webkit-animation-delay: ;
          animation-delay: ;
}
.dot:nth-child(2) {
  top: 30px;
  left: 60px;
  -webkit-animation-delay: 273ms;
          animation-delay: 273ms;
}
.dot:nth-child(3) {
  top: 30px;
  left: 90px;
  -webkit-animation-delay: 546ms;
          animation-delay: 546ms;
}
.dot:nth-child(4) {
  top: 30px;
  left: 120px;
  -webkit-animation-delay: 819ms;
          animation-delay: 819ms;
}
.dot:nth-child(5) {
  top: 30px;
  left: 150px;
  -webkit-animation-delay: 1092ms;
          animation-delay: 1092ms;
}
.dot:nth-child(6) {
  top: 30px;
  left: 180px;
  -webkit-animation-delay: 1365ms;
          animation-delay: 1365ms;
}
.dot:nth-child(7) {
  top: 30px;
  left: 210px;
  -webkit-animation-delay: 1638ms;
          animation-delay: 1638ms;
}
.dot:nth-child(8) {
  top: 30px;
  left: 240px;
  -webkit-animation-delay: 1911ms;
          animation-delay: 1911ms;
}
.dot:nth-child(9) {
  top: 30px;
  left: 270px;
  -webkit-animation-delay: 2184ms;
          animation-delay: 2184ms;
}
.dot:nth-child(10) {
  top: 30px;
  left: 300px;
  -webkit-animation-delay: 2457ms;
          animation-delay: 2457ms;
}
.dot:nth-child(11) {
  top: 30px;
  left: 330px;
  -webkit-animation-delay: 2730ms;
          animation-delay: 2730ms;
}
.dot:nth-child(12) {
  top: 30px;
  left: 360px;
  -webkit-animation-delay: 3003ms;
          animation-delay: 3003ms;
}

/* right */
.dot:nth-child(13) {
  top: 60px;
  left: 360px;
  -webkit-animation-delay: 3276ms;
          animation-delay: 3276ms;
}
.dot:nth-child(14) {
  top: 90px;
  left: 360px;
  -webkit-animation-delay: 3549ms;
          animation-delay: 3549ms;
}
.dot:nth-child(15) {
  top: 120px;
  left: 360px;
  -webkit-animation-delay: 3822ms;
          animation-delay: 3822ms;
}
.dot:nth-child(16) {
  top: 150px;
  left: 360px;
  -webkit-animation-delay: 4095ms;
          animation-delay: 4095ms;
}
.dot:nth-child(17) {
  top: 180px;
  left: 360px;
  -webkit-animation-delay: 4368ms;
          animation-delay: 4368ms;
}
.dot:nth-child(18) {
  top: 210px;
  left: 360px;
  -webkit-animation-delay: 4641ms;
          animation-delay: 4641ms;
}
.dot:nth-child(19) {
  top: 240px;
  left: 360px;
  -webkit-animation-delay: 4914ms;
          animation-delay: 4914ms;
}
.dot:nth-child(20) {
  top: 270px;
  left: 360px;
  -webkit-animation-delay: 5187ms;
          animation-delay: 5187ms;
}
.dot:nth-child(21) {
  top: 300px;
  left: 360px;
  -webkit-animation-delay: 5460ms;
          animation-delay: 5460ms;
}
.dot:nth-child(22) {
  top: 330px;
  left: 360px;
  -webkit-animation-delay: 5733ms;
          animation-delay: 5733ms;
}
.dot:nth-child(23) {
  top: 360px;
  left: 360px;
  -webkit-animation-delay: 6006ms;
          animation-delay: 6006ms;
}

/* bottom */
.dot:nth-child(24) {
  top: 360px;
  left: 330px;
  -webkit-animation-delay: 6279ms;
          animation-delay: 6279ms;
}
.dot:nth-child(25) {
  top: 360px;
  left: 300px;
  -webkit-animation-delay: 6552ms;
          animation-delay: 6552ms;
}
.dot:nth-child(26) {
  top: 360px;
  left: 270px;
  -webkit-animation-delay: 6825ms;
          animation-delay: 6825ms;
}
.dot:nth-child(27) {
  top: 360px;
  left: 240px;
  -webkit-animation-delay: 7098ms;
          animation-delay: 7098ms;
}
.dot:nth-child(28) {
  top: 360px;
  left: 210px;
  -webkit-animation-delay: 7371ms;
          animation-delay: 7371ms;
}
.dot:nth-child(29) {
  top: 360px;
  left: 180px;
  -webkit-animation-delay: 7644ms;
          animation-delay: 7644ms;
}
.dot:nth-child(30) {
  top: 360px;
  left: 150px;
  -webkit-animation-delay: 7917ms;
          animation-delay: 7917ms;
}
.dot:nth-child(31) {
  top: 360px;
  left: 120px;
  -webkit-animation-delay: 8190ms;
          animation-delay: 8190ms;
}
.dot:nth-child(32) {
  top: 360px;
  left: 90px;
  -webkit-animation-delay: 8463ms;
          animation-delay: 8463ms;
}
.dot:nth-child(33) {
  top: 360px;
  left: 60px;
  -webkit-animation-delay: 8736ms;
          animation-delay: 8736ms;
}
.dot:nth-child(34) {
  top: 360px;
  left: 30px;
  -webkit-animation-delay: 9009ms;
          animation-delay: 9009ms;
}

/* left */
.dot:nth-child(35) {
  top: 330px;
  left: 30px;
  -webkit-animation-delay: 9282ms;
          animation-delay: 9282ms;
}
.dot:nth-child(36) {
  top: 300px;
  left: 30px;
  -webkit-animation-delay: 9555ms;
          animation-delay: 9555ms;
}
.dot:nth-child(37) {
  top: 270px;
  left: 30px;
  -webkit-animation-delay: 9828ms;
          animation-delay: 9828ms;
}
.dot:nth-child(38) {
  top: 240px;
  left: 30px;
  -webkit-animation-delay: 10101ms;
          animation-delay: 10101ms;
}
.dot:nth-child(39) {
  top: 210px;
  left: 30px;
  -webkit-animation-delay: 10374ms;
          animation-delay: 10374ms;
}
.dot:nth-child(40) {
  top: 180px;
  left: 30px;
  -webkit-animation-delay: 10647ms;
          animation-delay: 10647ms;
}
.dot:nth-child(41) {
  top: 150px;
  left: 30px;
  -webkit-animation-delay: 10920ms;
          animation-delay: 10920ms;
}
.dot:nth-child(42) {
  top: 120px;
  left: 30px;
  -webkit-animation-delay: 11193ms;
          animation-delay: 11193ms;
}
.dot:nth-child(43) {
  top: 90px;
  left: 30px;
  -webkit-animation-delay: 11466ms;
          animation-delay: 11466ms;
}
.dot:nth-child(44) {
  top: 60px;
  left: 30px;
  -webkit-animation-delay: 11739ms;
          animation-delay: 11739ms;
}


footer {
  font-size: 14px;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: #25689D;
}

footer a:hover {
  text-decoration: underline;
  color: #000;
}