body {
  font-family: Arial;
  text-align: center;
  margin: 10px;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

h1 {
  font-size: 2rem;
}

main {
  
}

.rgb {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 60vw;
  min-width: 300px;
  max-width: 600px;
  height: 40vw;
  min-height: 200px;
  max-height: 400px;
  margin: auto;
}

.colors__block {
/*   width: 100%;
  height: 100%; */
  background: #ddd;
  cursor: pointer;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
}

.status {
  min-width: 300px;
  width: 60vw;
  margin: 20px auto;
  font-size: 1rem;
}