* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url('https://images3.alphacoders.com/273/thumb-1920-273289.jpg') no-repeat;
  background-position: bottom left;
  background-size: cover;
/*   background-attachment: fixed; */
  color: whitesmoke;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  padding: 20px 0;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}
@media only screen and (min-width: 1024px) {  
  h1 {
    font-size: 28px;
  }
}

/* random image */
#random {
  width: 250px;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
}
#random:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 4px rgba(0,0,0,0.3);
}

/* rotation animation on click */
@keyframes rotation {
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotation {
  100% {transform: rotate(360deg);}
}
.animated {
  animation: rotation 1s linear;
  -webkit-animation: rotation 1s linear;
}

/* youtube audio button */
#youtube-audio {
  width: 40px;
  margin: auto;
  padding: 20px 0;
  color: #333;
  cursor: pointer;
}
#youtube-audio:hover {
  color: #f5f5f5;
}
#youtube-icon {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
}
a {
  color: #F44336;
  text-decoration: none;
}
a:hover, a:focus {
  color: whitesmoke;
  text-decoration: underline;
}
