* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: url(https://res.cloudinary.com/beumsk/image/upload/v1513346999/space_q6ljk6.png) center;
  color: white;
}

header h1 {
  font-weight: normal;
  font-size: 42px;
  padding: 20px;
  letter-spacing: 0.2em;
  background: rgba(0,0,0,0.6);
}

section {
  width: 400px;
  height: 200px;
  background: #111;
  color: #eee;
  margin: auto;
  position: relative;
  outline: solid 4px white;
}

section .divider {
  position: absolute;
  height: 200px;
  left: 199.5px;
  border: dashed 1px
}

section .ball {
  position: absolute;
  background: #eee;
  width: 6px;
  height: 6px;
  top: 0px;
  left: 60px;
  -webkit-animation: move-ball 6s infinite linear;
          animation: move-ball 6s infinite linear;
}

@-webkit-keyframes move-ball {
  5% {
    top: 51px;
    left: 24px;
  }
  20% {
    top: 194px;
    left: 160px;
  }
  50% {
    top: 0;
    left: 330px;
  }
  55% {
    top: 50px;
    left: 374px;
  }
  70% {
    top: 194px;
    left: 300px;
  }
  100% {
    top: 0px;
    left: 60px;
  }
}

@keyframes move-ball {
  5% {
    top: 51px;
    left: 24px;
  }
  20% {
    top: 194px;
    left: 160px;
  }
  50% {
    top: 0;
    left: 330px;
  }
  55% {
    top: 50px;
    left: 374px;
  }
  70% {
    top: 194px;
    left: 300px;
  }
  100% {
    top: 0px;
    left: 60px;
  }
}

section .racket {
  position: absolute;
  background: #eee;
  width: 4px;
  height: 30px;
  top: 85px;
}

section .racket.left {
  top: 50px;
  left: 20px;
  -webkit-animation: racket-left 6s infinite linear;
          animation: racket-left 6s infinite linear;
}

@-webkit-keyframes racket-left {
  5% { top: 40px; }
  50% { top: 125px; }
  100% { top: 50px; }
}

@keyframes racket-left {
  5% { top: 40px; }
  50% { top: 125px; }
  100% { top: 50px; }
}

section .racket.right {
  top: ;
  left: 380px;
  -webkit-animation: racket-right 6s infinite linear;
          animation: racket-right 6s infinite linear;
}

@-webkit-keyframes racket-right {
  15% { top: 110px; }
  55% { top: 35px; }
  100% { top: 85px; }
}

@keyframes racket-right {
  15% { top: 110px; }
  55% { top: 35px; }
  100% { top: 85px; }
}

footer {
  font-size: 14px;
  padding: 10px;
  background: rgba(0,0,0,0.6);
}

footer a {
  text-decoration: none;
  color: #666;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}