
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #95a5a6;
  background: url(https://res.cloudinary.com/beumsk/image/upload/v1506066750/link.png);
  background-size: 50px;
  background-repeat: space;
}

.back {
  background: rgba(256, 256, 256, 0.9);
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
}

h1 {
  text-align: center;
  color: whitesmoke;
  background: #333;
  font-size: 40px;
  letter-spacing: 0.1em;
  padding: 10px;
  margin-bottom: 20px;
}

span {
  font-weight: normal;
  font-size: 80%;
}

#inp {
  text-align: center;
  margin-bottom: 15px;
}

input {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid grey;
}

[type="submit"] {
  padding: 0 10px;
  color: white;
  background: #333;
}

[type="submit"]:hover {
  cursor: pointer;
  background: white;
  color: #333;
}

#content {
  text-align: center;
}

#content a {
  text-transform: uppercase;
  letter-spacing: 0.2em; 
}

#content a:hover {
  text-decoration: underline !important;
}

.link {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  border-radius: 2px;
}
.link:hover {
/*   background: rgba(256, 256, 256, 0.9); */
}

.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
}

footer {
  width: 80%;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  color: grey;
/*   background: rgba(256, 256, 256, 0.8); */
}
footer a {
  color: #2C3E50;
  text-decoration: none;
}
footer a:hover {
  color: grey;
  text-decoration: underline;
}