body {
  background: #23BB63;  
}

#title {
  color: white;
  font-weight: bold;
  margin-top: 10vh;
}

#main {
  margin-top: 6vh;
  width: 60%;
}

#twitter {
  float: left;
  text-decoration: none;
}

.btn {
  background-color: #23BB63;
}

.btn:hover {
  background-color: #23BB63;
}

a {
  color: white;
  font-weight: bold;
}

#newQuote {
  float: right;
}

#thanks {
  color: whitesmoke;
  font-size: 24px;
  font-weight: bold;
}

#footer {
  color: white;
  margin-top: 40px;
}